* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #092445;
  --btn-bg: #ec7451;
  --text-m-color: #181f3f;
  --text-s-color: #505771;
  --text-white: #fff;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
header {
  height: 80px;
  background: #092445;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: auto;
  z-index: 100;
  margin-right: calc(-1 * (100vw - 100%));
}
.logo-container {
  overflow: hidden;
}
.logo-container img {
  width: 150px;
  cursor: pointer;
}
.header-content {
  display: flex;
  align-items: center;
}
.drop-down-main {
  background-color: #edefef;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 0 28px 0 16px;
  height: 42px;
  width: 122px;
  font-size: 12px;
  font-weight: 500;
  color: #1f274a;
  text-transform: capitalize;
  line-height: 18px;
}
.drop-down-main::after {
  content: "";
  background-repeat: no-repeat;
  padding-left: 11.7px;
  background: url(./ASSETS/arrow-down-short.svg);
}
.drop-down-btn {
  position: relative;
  display: inline-block;
}
.drop-down-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 2px;
  line-height: 2rem;
}
.drop-down-content a {
  text-decoration: none;
  color: var(--text-s-color);
  margin: 20px;
}
.drop-down-btn:hover .drop-down-content {
  display: block;
}
.input-field-wrapp .input-field {
  border-radius: 0;
  width: 363px;
  height: 42px;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 400;
  color: #505771;
  text-transform: none;
  line-height: normal;
  outline: none;
  padding-left: 10px;
}
.search-btn {
  background-color: #ec7451;
  vertical-align: middle;
  border-radius: 0 4px 4px 0;
  height: 42px;
  width: 43px;
  border: none;
}
.search-btn::after {
  content: "";
  display: inline-block;
  margin-left: 100px;
  opacity: 0.4;
  width: 1px;
  height: 42px;
  background-color: #d1d1d1;
  cursor: none;
}
.clickbale-elements {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  vertical-align: middle;
}
.clickbale-elements a {
  text-decoration: none;
  color: var(--text-white);
}
.clickbale-elements img {
  height: 22px;
  width: auto;
}
.clickbale-elements p {
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  color: #fff;
  margin: 9px 0 0;
}
.cat-main {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  background: #8d8d8d;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 80px;
  bottom: auto;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.cat-ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.cat-ul li{
  cursor: pointer;
}
.cat-ul:first-child a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #1f274a;
  text-transform: none;
  line-height: normal;
}
.cat-ul:first-child a::after{
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 16px;
  background: url(./ASSETS/arrow-down-short.svg) no-repeat;
  padding-left: 13px;
  margin-left: 10px;
}
