* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #092445;
  --btn-bg: #ec7451;
  --text-m-color: #181f3f;
  --text-s-color: #505771;
  --text-white: #fff;
}

body {
  background-color: #8d8d8d;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

header {
  height: 80px;
  background: #092445;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: auto;
  z-index: 100;
  margin-right: calc(-1 * (100vw - 100%));
}

.logo-container {
  overflow: hidden;
}

.logo-container img {
  width: 150px;
  cursor: pointer;
}

.header-content {
  display: flex;
  align-items: center;
}

.drop-down-main {
  background-color: #edefef;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 0 28px 0 16px;
  height: 42px;
  width: 122px;
  font-size: 12px;
  font-weight: 500;
  color: #1f274a;
  text-transform: capitalize;
  line-height: 18px;
}

.drop-down-main::after {
  content: "";
  background-repeat: no-repeat;
  padding-left: 11.7px;
  background: url(./ASSETS/arrow-down-short.svg);
}

.drop-down-btn {
  position: relative;
  display: inline-block;
}

.drop-down-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  border-radius: 2px;
  line-height: 2rem;
}

.drop-down-content a {
  text-decoration: none;
  color: var(--text-s-color);
  margin: 20px;
}

.drop-down-btn:hover .drop-down-content {
  display: block;
}

.input-field-wrapp .input-field {
  border-radius: 0;
  width: 363px;
  height: 42px;
  border: 1px solid #fff;
  font-size: 12px;
  font-weight: 400;
  color: #505771;
  text-transform: none;
  line-height: normal;
  outline: none;
  padding-left: 10px;
}

.search-btn {
  background-color: #ec7451;
  vertical-align: middle;
  border-radius: 0 4px 4px 0;
  height: 42px;
  width: 43px;
  border: none;
}

.search-btn::after {
  content: "";
  display: inline-block;
  margin-left: 100px;
  opacity: 0.4;
  width: 1px;
  height: 42px;
  background-color: #d1d1d1;
  cursor: none;
}

.clickbale-elements {
  display: flex;
  gap: 2rem;
  justify-content: space-evenly;
  vertical-align: middle;
}

.clickbale-elements a {
  text-decoration: none;
  color: var(--text-white);
}

.clickbale-elements img {
  height: 22px;
  width: auto;
}

.clickbale-elements p {
  font-size: 10px;
  font-weight: 500;
  line-height: 10px;
  color: #fff;
  margin: 9px 0 0;
}

.cat-main {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  background: #8d8d8d;
  height: 60px;
  position: fixed;
  width: 100%;
  top: 80px;
  bottom: auto;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cat-ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cat-ul li {
  cursor: pointer;
}

.cat-ul:first-child a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  color: #1f274a;
  text-transform: none;
  line-height: normal;
}

.cat-ul:first-child a::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 16px;
  background: url(./ASSETS/arrow-down-short.svg) no-repeat;
  padding-left: 13px;
  margin-left: 10px;
}

.cat-ul a {
  font-size: 14px;
  height: 500;
  color: #505771;
  text-transform: none;
  line-height: normal;
}

.cat-ul li::after {
  content: "";
  display: inline-block;
  opacity: 0.4;
  width: 1px;
  height: 35px;
  background-color: #d1d1d1;
  cursor: none;
  vertical-align: middle;
  margin-left: 38px;
}

.left-drop-list {
  background: #969696;
  width: 205px;
  height: auto;
  border-radius: 10px 0 0 10px;
  padding: 24px 0;
}

.left-drop-list h4 {
  font-size: 18px;
  font-weight: 600;
  color: #1f274a;
  text-transform: capitalize;
  line-height: normal;
  padding: 0 24px;
}

.left-drop-list {
  list-style: none;
}

.left-drop-list li {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #505771;
  text-transform: capitalize;
  line-height: normal;
  display: inline-block;
  width: 100%;
}

.left-drop-list li::after {
  content: "";
  display: flex;
  opacity: 0.7;
  width: 95px;
  height: 1px;
  background-color: #d1d1d1;
  margin: 5px 0;
  justify-content: flex-start;
}

.shop-now-wrapper {
  padding: 0 24px;
}

.shop-now-btn {
  font-size: 14px;
  font-weight: 600;
  text-transform: capitalize;
  line-height: normal;
  color: #092445;
  border: 1px solid #092445;
  padding: 11px 27px 12px;
  border-radius: 5px;
}

.shop-now-btn:hover {
  background-color: var(--bg);
  color: var(--text-white);
}

.owl-container {
  max-width: 730px;
  max-height: 480px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.owl-container .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.item-h4-wrapper {
  position: absolute;
  margin: auto;
  z-index: 10000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
}

.item-h4-wrapper .item-h4-header {
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  text-transform: none;
  line-height: normal;
  margin-bottom: 0
}

.item-h4-wrapper .item-h4-para {
  font-size: 42px;
  font-weight: 300;
  color: #c9c9c9;
  text-transform: lowercase;
  line-height: normal;
  margin-bottom: 25px;
}

.right-drop-list {
  background: #969696;
  width: 205px;
  height: auto;
  border-radius: 0 10px 10px 0;
  padding: 24px;
}

.right-drop-list h4 {
  font-size: 18px;
  font-weight: 600;
  color: #1f274a;
  text-transform: capitalize;
  line-height: normal;
  margin-bottom: 15px;
}

.right-drop-list .free-reg-wrapper .free-reg-bold {
  font-size: 14px;
  font-weight: 600;
  color: #1f274a;
  text-transform: capitalize;
  line-height: normal;
  margin-bottom: 8px;
}

.right-drop-list .free-reg-wrapper p {
  font-size: 12px;
  font-weight: 400;
  color: #505771;
  text-transform: none;
  line-height: normal;
}
.free-reg-wrapper::after{
  content: "";
  display: flex;
  opacity: 0.7;
  width: 95px;
  height: 1px;
  background-color: #d1d1d1;
  margin: 5px 0;
  justify-content: flex-start;
}
.ca-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-top: 160px;
}


